<h1>Actor #<%=params.fetch("actor_id")%> details</h1>

<dl> 
  <dt>
    Name
  </dt>
  <dd>
    <%=@actor_name%>
  </dd>
</dl>

<dl> 
  <dt>
    Dob
  </dt>
  <dd>
    <%=@actor_dob%>
  </dd>
</dl>

<dl> 
  <dt>
    Bio
  </dt>
  <dd>
    <%=@actor_bio%>
  </dd>
</dl>

<dl> 
  <dt>
    Image
  </dt>
  <dd>
    <img src="<%=@actor_image%>">
  </dd>
</dl>

<hr>

<table border="1">
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Director</th>
      <th>Character Name</th> 
      <th></th>
    </tr>
    <%@character_array.each do |display|%>
    <tr>
      <td><%=Movie.where({:id => display.movie_id}).last.title%></td>
      <td><%=Movie.where({:id => display.movie_id}).last.year%></td>
      <td><%=Director.where({:id => Movie.where({:id => display.movie_id})}).last.name%></td>
      <td><%=display.name%></td>
      <td>
        <a href="/movies/<%=Movie.where({:id => display.movie_id}).last.id%>">
          Show details
        </a>
      </td>
    </tr>
  <%end%>
</table>