<h1>Actor #<%=params.fetch("actor_id")%> details</h1>

<dl> 
  <dt>
    Name
  </dt>
  <dd>
    <%=@actor_name%>
  </dd>
</dl>

<dl> 
  <dt>
    Dob
  </dt>
  <dd>
    <%=@actor_dob%>
  </dd>
</dl>

<dl> 
  <dt>
    Bio
  </dt>
  <dd>
    <%=@actor_bio%>
  </dd>
</dl>

<dl> 
  <dt>
    Image
  </dt>
  <dd>
    <img src="<%=@actor_image%>">
  </dd>
</dl>